

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

input:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}
/* .banner {
max-height: 800px;
max-width: 100px;
}, */
.concert-img { 

 max-height: 25%;    
max-width: 100% ;

}
.content{  
font-family: Arial, Helvetica, sans-serif;
box-sizing: inherit;
margin: 0;
padding: 0px;
border: 10px;
font-size: 100%;
font-weight: normal;
vertical-align: center; 

flex: 1 1 auto;
background: #F2F2F2;
height: 100%;
} 
body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: inherit;
  margin: 0px
;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: center;
  
  background: transparent;
  padding-top: 0px;
  padding-bottom: 100px;
  flex: 1 1 1200px;
  min-height: 100vh;
  max-width: 1800px;
  background-color: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
